.container {
  padding: 24px;
}

.header {
  margin-bottom: 24px;
}

.filters {
  margin-bottom: 16px;
}

.shiftManagement {
  padding: 24px;
}

.addShiftCard {
  margin-bottom: 24px;
}

.statsCard {
  margin-bottom: 24px;
}

@media (max-width: 992px) {
  .statsCard {
    margin-bottom: 16px;
  }
}

@media (max-width: 768px) {
  .shiftManagement {
    padding: 12px;
  }
} 